In [11]:
import pandas as pd
import numpy as np

# Final processing of the geolocation
The geolocations were processed during import and merging of the files. We did:

- removal of all non-metropolitan departments
- changed the Corse departments 2a and 2b to one department 2
- imputed the geolocation from address, if possible
- replaced the weired (0, 40) geolocation by NA
- added NA to all missing relocation (e.g. (0, 0) which is not in France)

In this notebook, we remove datasets with still missing geolocations and set the `gps` position to `M`.

In [8]:
merged_table = pd.read_csv('./data/230819_merged_tables_basic_data.csv', low_memory=False, header = 0, index_col=0, na_values='n/a')

The variables of interest for us are `lat` and `long`. The variables should either have a float value if a geolocation exists or are NA if no geolocation exists.

We can remove all datasets with NA

merged_table.dropna(subset = ['lat', 'long'], inplace=True)

**Note:** It was decided to skip the removal of datasets with NAs in lat and long because too many cases were remove in years <2019

## Change values in `gps'
First, check and replace values in `gps`.

merged_table['gps'].unique()

Still datasets of the Antilles in the dataset...

merged_table.drop(merged_table[merged_table['gps'] == 'A'].index, inplace = True)
merged_table['gps'].unique()

Now, fill gaps in `gps`

merged_table['gps'] = merged_table['gps'].fillna('M')
merged_table['gps'].unique()

We keep the NAs in the gps variable, because we cannot fill gaps with confidence.

In [6]:
merged_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509598 entries, 201900000001 to 201800057783
Data columns (total 57 columns):
 #   Column        Dtype
---  ------        -----
 0   id_vehicule   float64
 1   num_veh       object
 2   place         float64
 3   catu          int64
 4   grav          int64
 5   sexe          int64
 6   an_nais       float64
 7   trajet        float64
 8   secu1         float64
 9   secu2         float64
 10  secu3         float64
 11  locp          float64
 12  actp          object
 13  etatp         float64
 14  secu          float64
 15  an            int64
 16  mois          int64
 17  jour          int64
 18  hrmn          object
 19  lum           int64
 20  agg           int64
 21  int           int64
 22  atm           float64
 23  col           float64
 24  com           object
 25  adr           object
 26  gps           object
 27  lat           float64
 28  long          float64
 29  dep           int64
 30  metropolitan  float64
 31  catr          float64
 32  voie          object
 33  v1            float64
 34  v2            object
 35  circ          float64
 36  nbv           float64
 37  vosp          float64
 38  prof          float64
 39  pr            object
 40  pr1           object
 41  plan          float64
 42  lartpc        object
 43  larrout       object
 44  surf          float64
 45  infra         float64
 46  situ          float64
 47  vma           float64
 48  env1          float64
 49  senc          float64
 50  catv          int64
 51  occutc        float64
 52  obs           float64
 53  obsm          float64
 54  choc          float64
 55  manv          float64
 56  motor         float64
dtypes: float64(34), int64(11), object(12)
memory usage: 1.1+ GB

In [9]:
merged_table.to_csv("./data/230819_input_table.csv", sep = ',', header = True, na_rep = 'n/a', index=True)