In [2]:
import pandas as pd
import numpy as np

# Final processing of the geolocation
The geolocations were processed during import and merging of the files. We did:

- removal of all non-metropolitan departments
- changed the Corse departments 2a and 2b to one department 2
- imputed the geolocation from address, if possible
- replaced the weired (0, 40) geolocation by NA
- added NA to all missing relocation (e.g. (0, 0) which is not in France)

In this notebook, we remove datasets with still missing geolocations and set the `gps` position to `M`.

In [3]:
merged_table = pd.read_csv('./data/230816_merged_tables_basic_data.csv', low_memory=False, header = 0, index_col=0, na_values='n/a')

The variables of interest for us are `lat` and `long`. The variables should either have a float value if a geolocation exists or are NA if no geolocation exists.

We can remove all datasets with NA

merged_table.dropna(subset = ['lat', 'long'], inplace=True)

**Note:** It was decided to skip the removal of datasets with NAs in lat and long because too many cases were remove in years <2019

## Change values in `gps'
First, check and replace values in `gps`.

In [4]:
merged_table['gps'].unique()

array([nan, 'M', 'A'], dtype=object)

Still datasets of the Antilles in the dataset...

In [5]:
merged_table.drop(merged_table[merged_table['gps'] == 'A'].index, inplace = True)
merged_table['gps'].unique()

array([nan, 'M'], dtype=object)

Now, fill gaps in `gps`

merged_table['gps'] = merged_table['gps'].fillna('M')
merged_table['gps'].unique()

We keep the NAs in the gps variable, because we cannot fill gaps with confidence.

In [6]:
merged_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 471872 entries, 201900000001 to 201800049520
Data columns (total 57 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_vehicule    347617 non-null  float64
 1   num_veh        471872 non-null  object
 2   place          465592 non-null  float64
 3   catu           471872 non-null  int64
 4   grav           471872 non-null  int64
 5   sexe           471872 non-null  int64
 6   an_nais        468793 non-null  float64
 7   trajet         471783 non-null  float64
 8   secu1          347617 non-null  float64
 9   secu2          347617 non-null  float64
 10  secu3          347617 non-null  float64
 11  locp           469679 non-null  float64
 12  actp           469674 non-null  object
 13  etatp          469670 non-null  float64
 14  secu           121761 non-null  float64
 15  an             471872 non-null  int64
 16  mois           471872 non-null  int64
 17  jour           471872 non-null  int64
 18  hrmn           471872 non-null  object
 19  lum            471872 non-null  int64
 20  agg            471872 non-null  int64
 21  int            471872 non-null  int64
 22  atm            471872 non-null  float64
 23  col            471865 non-null  float64
 24  com            471872 non-null  object
 25  adr            441610 non-null  object
 26  gps            59528 non-null   object
 27  lat            416924 non-null  float64
 28  long           416924 non-null  float64
 29  dep            471872 non-null  int64
 30  adr_retrieved  90275 non-null   float64
 31  catr           471872 non-null  float64
 32  voie           431341 non-null  object
 33  v1             374502 non-null  float64
 34  v2             30313 non-null   object
 35  circ           471580 non-null  float64
 36  nbv            471426 non-null  float64
 37  vosp           471301 non-null  float64
 38  prof           471415 non-null  float64
 39  pr             404417 non-null  object
 40  pr1            403641 non-null  object
 41  plan           471339 non-null  float64
 42  lartpc         118455 non-null  object
 43  larrout        339633 non-null  object
 44  surf           471417 non-null  float64
 45  infra          470955 non-null  float64
 46  situ           471025 non-null  float64
 47  vma            347617 non-null  float64
 48  env1           123383 non-null  float64
 49  senc           471849 non-null  float64
 50  catv           471872 non-null  int64
 51  occutc         128437 non-null  float64
 52  obs            471785 non-null  float64
 53  obsm           471445 non-null  float64
 54  choc           471852 non-null  float64
 55  manv           471857 non-null  float64
 56  motor          347617 non-null  float64
dtypes: float64(34), int64(11), object(12)
memory usage: 208.8+ MB

In [7]:
merged_table.to_csv("./data/230816_input_table.csv", sep = ',', header = True, na_rep = 'n/a', index=True)