In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

vehicles=pd.read_csv("./data/vehicles.csv")
features=pd.read_csv("./data/features.csv")
places=pd.read_csv("./data/places.csv")
users=pd.read_csv("./data/users.csv")
registered_vehicles=pd.read_csv("./data/registered_vehicles.csv")

/Users/johannastarkl/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,10,12,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/johannastarkl/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,9,10,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/johannastarkl/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/johannastarkl/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# exploring features
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121571 entries, 0 to 1121570
Data columns (total 16 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1121571 non-null  int64
 1   an       1121571 non-null  int64
 2   mois     1121571 non-null  int64
 3   jour     1121571 non-null  int64
 4   hrmn     1121571 non-null  object
 5   lum      1121571 non-null  int64
 6   agg      1121571 non-null  int64
 7   int      1121571 non-null  int64
 8   atm      1121498 non-null  float64
 9   col      1121552 non-null  float64
 10  com      1121569 non-null  object
 11  adr      978295 non-null   object
 12  gps      480052 non-null   object
 13  lat      634503 non-null   float64
 14  long     631290 non-null   float64
 15  dep      1121571 non-null  object
dtypes: float64(4), int64(7), object(5)
memory usage: 136.9+ MB

In [5]:
#find out how much of long and lat have value 0

print((features['lat'] == 0).astype(int).sum(axis=0))

print((features['long'] == 0).astype(int).sum(axis=0))

117839
137657

In [7]:
#are there any duplicate values in Num_Acc
any(features.duplicated(subset=['Num_Acc']))

False

In [8]:
# percentage of missing values
percent_missing_char = features.isnull().sum() * 100 / len(features)

percent_missing_char

Num_Acc     0.000000
an          0.000000
mois        0.000000
jour        0.000000
hrmn        0.000000
lum         0.000000
agg         0.000000
int         0.000000
atm         0.006509
col         0.001694
com         0.000178
adr        12.774581
gps        57.198251
lat        43.427300
long       43.713773
dep         0.000000
dtype: float64

In [9]:
#exploring places
places.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121571 entries, 0 to 1121570
Data columns (total 19 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1121571 non-null  int64
 1   catr     1121570 non-null  float64
 2   voie     1014391 non-null  object
 3   v1       485747 non-null   float64
 4   v2       51369 non-null    object
 5   circ     1119997 non-null  float64
 6   nbv      1118840 non-null  float64
 7   vosp     1118810 non-null  float64
 8   prof     1119622 non-null  float64
 9   pr       646087 non-null   object
 10  pr1      644268 non-null   object
 11  plan     1119290 non-null  float64
 12  lartpc   902739 non-null   object
 13  larrout  1008730 non-null  object
 14  surf     1119647 non-null  float64
 15  infra    1116163 non-null  float64
 16  situ     1116601 non-null  float64
 17  vma      163102 non-null   float64
 18  env1     953029 non-null   float64
dtypes: float64(12), int64(1), object(6)
memory usage: 162.6+ MB

In [10]:
#are there any duplicate values in Num_Acc
any(places.duplicated(subset=['Num_Acc']))

False

In [11]:
# percentage of missing values
percent_missing_places = places.isnull().sum() * 100 / len(places)

percent_missing_places

Num_Acc     0.000000
catr        0.000089
voie        9.556239
v1         56.690481
v2         95.419907
circ        0.140339
nbv         0.243498
vosp        0.246173
prof        0.173774
pr         42.394463
pr1        42.556646
plan        0.203375
lartpc     19.511203
larrout    10.060977
surf        0.171545
infra       0.482181
situ        0.443128
vma        85.457720
env1       15.027314
dtype: float64

In [12]:
#exploring vehicles
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1914902 entries, 0 to 1914901
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   Num_Acc      int64
 1   senc         float64
 2   catv         int64
 3   occutc       float64
 4   obs          float64
 5   obsm         float64
 6   choc         float64
 7   manv         float64
 8   num_veh      object
 9   id_vehicule  float64
 10  motor        float64
dtypes: float64(8), int64(2), object(1)
memory usage: 160.7+ MB

In [13]:
# percentage of missing values
percent_missing_vehicles = vehicles.isnull().sum() * 100 / len(vehicles)

percent_missing_vehicles

Num_Acc         0.000000
senc            0.014204
catv            0.000000
occutc         14.456823
obs             0.052535
obsm            0.040629
choc            0.020732
manv            0.024440
num_veh         0.000000
id_vehicule    85.425312
motor          85.425312
dtype: float64

In [14]:
#are there any duplicate values in Num_Acc
any(vehicles.duplicated(subset=['Num_Acc']))

True

In [15]:
#are there any duplicate values in num_veh
any(vehicles.duplicated(subset=['num_veh']))

True

In [16]:
#exploring users

users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509620 entries, 0 to 2509619
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   Num_Acc      int64
 1   id_vehicule  float64
 2   num_veh      object
 3   place        float64
 4   catu         int64
 5   grav         int64
 6   sexe         int64
 7   an_nais      float64
 8   trajet       float64
 9   secu1        float64
 10  secu2        float64
 11  secu3        float64
 12  locp         float64
 13  actp         object
 14  etatp        float64
 15  secu         float64
dtypes: float64(10), int64(4), object(2)
memory usage: 306.4+ MB

In [17]:
# percentage of missing values
percent_missing_users = users.isnull().sum() * 100 / len(users)

percent_missing_users

Num_Acc         0.000000
id_vehicule    85.359337
num_veh         0.000000
place           4.906241
catu            0.000000
grav            0.000000
sexe            0.000000
an_nais         0.218559
trajet          0.019684
secu1          85.359337
secu2          85.359337
secu3          85.359337
locp            2.245798
actp            2.249823
etatp           2.248069
secu           16.893474
dtype: float64

In [18]:
#exploring registered_vehicles

registered_vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200791 entries, 0 to 1200790
Data columns (total 9 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Id_accident                         1200791 non-null  float64
 1   Lettre Conventionnelle Véhicule     1200790 non-null  object
 2   Année                               1200791 non-null  int64
 3   Lieu Admin Actuel - Territoire Nom  1200791 non-null  object
 4   Type Accident - Libellé             1078193 non-null  object
 5   CNIT                                776011 non-null   object
 6   Catégorie véhicule                  1200791 non-null  object
 7   Age véhicule                        1096600 non-null  float64
 8   Type Accident - Libellé (old)       122598 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 82.5+ MB

In [19]:
# percentage of missing values
percent_missing_registered_vehicles = registered_vehicles.isnull().sum() * 100 / len(registered_vehicles)

percent_missing_registered_vehicles

Id_accident                            0.000000
Lettre Conventionnelle Véhicule        0.000083
Année                                  0.000000
Lieu Admin Actuel - Territoire Nom     0.000000
Type Accident - Libellé               10.209770
CNIT                                  35.375015
Catégorie véhicule                     0.000000
Age véhicule                           8.676864
Type Accident - Libellé (old)         89.790230
dtype: float64