# Modelling of France Accidents

**Cohort:** mar23_accidents

**Author:** Tobias Schulze

**Date:** 20 September 2023

## Modelling approach

- `fatal` is target
- select accidents with participation of bicycles only

## Loading of required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import re
import pickle
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
from datetime import datetime
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

## Importing the data

In [2]:
df = pd.read_csv('./data/230907_basic_table_for_analysis_cleaned.csv', low_memory = False, index_col = 0)

## Data description
### Data

In [3]:
df.head()

,num_veh,place,catu,grav,sexe,an_nais,trajet,locp,actp,etatp,...,obs,obsm,choc,manv,date,is_holiday,holiday,secu_used,secu_avail,fatal
Num_Acc,,,,,,,,,,,,,,,,,,,,,
201900000001,B01,2.0,2,4,2,2002.0,0.0,-1.0,-1,-1.0,...,0.0,2.0,5.0,23.0,2019-11-30,False,NaN,3,1,0
201900000001,B01,1.0,1,4,2,1993.0,5.0,-1.0,-1,-1.0,...,0.0,2.0,5.0,23.0,2019-11-30,False,NaN,3,1,0
201900000001,A01,1.0,1,1,1,1959.0,0.0,-1.0,-1,-1.0,...,1.0,0.0,3.0,11.0,2019-11-30,False,NaN,3,1,0
201900000002,A01,1.0,1,4,2,1994.0,0.0,-1.0,-1,-1.0,...,4.0,0.0,1.0,0.0,2019-11-30,False,NaN,3,1,0
201900000003,A01,1.0,1,1,1,1996.0,0.0,-1.0,0,-1.0,...,0.0,2.0,1.0,2.0,2019-11-28,False,NaN,3,1,0

### Data types

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509596 entries, 201900000001 to 201800057783
Data columns (total 46 columns):
 #   Column        Dtype
---  ------        -----
 0   num_veh       object
 1   place         float64
 2   catu          int64
 3   grav          int64
 4   sexe          int64
 5   an_nais       float64
 6   trajet        float64
 7   locp          float64
 8   actp          object
 9   etatp         float64
 10  an            int64
 11  mois          int64
 12  jour          int64
 13  hrmn          object
 14  lum           int64
 15  agg           int64
 16  int           int64
 17  atm           float64
 18  col           float64
 19  adr           object
 20  lat           float64
 21  long          float64
 22  dep           int64
 23  metropolitan  float64
 24  catr          float64
 25  circ          float64
 26  nbv           float64
 27  vosp          float64
 28  prof          float64
 29  plan          float64
 30  surf          float64
 31  infra         float64
 32  situ          float64
 33  senc          float64
 34  catv          int64
 35  occutc        float64
 36  obs           float64
 37  obsm          float64
 38  choc          float64
 39  manv          float64
 40  date          object
 41  is_holiday    bool
 42  holiday       object
 43  secu_used     int64
 44  secu_avail    int64
 45  fatal         int64
dtypes: bool(1), float64(25), int64(14), object(6)
memory usage: 883.1+ MB

### Missing data

In [5]:
df.isna().sum()

num_veh               0
place                 0
catu                  0
grav                  0
sexe                  0
an_nais               0
trajet                0
locp                  0
actp                  0
etatp                 0
an                    0
mois                  0
jour                  0
hrmn                  0
lum                   0
agg                   0
int                   0
atm                   0
col                   0
adr              343702
lat             1065871
long            1073114
dep                   0
metropolitan          0
catr                  0
circ                  0
nbv                   0
vosp                  0
prof                  0
plan                  0
surf                  0
infra                 0
situ                  0
senc                  0
catv                  0
occutc                0
obs                   0
obsm                  0
choc                  0
manv                  0
date                  0
is_holiday            0
holiday         2453128
secu_used             0
secu_avail            0
fatal                 0
dtype: int64

## Data preparation
### Transform data types
#### Date and time variables
The date and time variables are maybe important as grouping variables or as contrains for time dependent severity of accidents.

For the grouping, a timestamp is required for unbiased identification time related accidents.

_Problem_:

During the transformation of the `hrmn` variable, I got aware, that the string contain integers like `1`,  `801`, or `1300`. Hence, anytime during data conversion, the colon got lost and the values got truncated. Hence `1` should be `00:01` and so on. Therefore, we need an additional transformation of the truncated data to `h:m` format.

**Steps:**
1. Fixing the truncated values in `hrmn`
3. Creation of a `datatime` variable in format y-m-d hh:mm
4. Transformation of the datatime varible to a `timestamp` variable


In addition, we need to transform the type of `an_nais` to integer and `date` to `date`.

In [6]:
# Fixing the hrmn issue:
# Remove the colon
df['hrmn'] = df.apply(lambda x: re.sub(string=x['hrmn'], pattern=':', repl=''), axis = 1)

# Pad the string to four zeros
df['hrmn'] = df.apply(lambda x: x['hrmn'].zfill(4), axis = 1)

# Transform the variable to 'hh:mm' and split to hours and minutes
df = df.assign(hrmn = pd.to_datetime(df['hrmn'], format='%H%M').dt.strftime('%H:%M'))

# Create the daytime variable
df['datetime'] = df.apply(lambda x: datetime(x['an'], x['mois'], x['jour'], datetime.strptime(x['hrmn'], "%H:%M").hour, datetime.strptime(x['hrmn'], "%H:%M").minute), axis = 1)

# Create the timestamp
df['timestamp'] = df.apply(lambda x: datetime.timestamp(x['datetime']), axis = 1)

# Transform `an_nais`
df['an_nais'] = df['an_nais'].astype('int64')

# Transform `date`
df = df.assign(date = pd.to_datetime(df['date'], format='mixed'))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509596 entries, 201900000001 to 201800057783
Data columns (total 48 columns):
 #   Column        Dtype
---  ------        -----
 0   num_veh       object
 1   place         float64
 2   catu          int64
 3   grav          int64
 4   sexe          int64
 5   an_nais       int64
 6   trajet        float64
 7   locp          float64
 8   actp          object
 9   etatp         float64
 10  an            int64
 11  mois          int64
 12  jour          int64
 13  hrmn          object
 14  lum           int64
 15  agg           int64
 16  int           int64
 17  atm           float64
 18  col           float64
 19  adr           object
 20  lat           float64
 21  long          float64
 22  dep           int64
 23  metropolitan  float64
 24  catr          float64
 25  circ          float64
 26  nbv           float64
 27  vosp          float64
 28  prof          float64
 29  plan          float64
 30  surf          float64
 31  infra         float64
 32  situ          float64
 33  senc          float64
 34  catv          int64
 35  occutc        float64
 36  obs           float64
 37  obsm          float64
 38  choc          float64
 39  manv          float64
 40  date          datetime64[ns]
 41  is_holiday    bool
 42  holiday       object
 43  secu_used     int64
 44  secu_avail    int64
 45  fatal         int64
 46  datetime      datetime64[ns]
 47  timestamp     float64
dtypes: bool(1), datetime64[ns](2), float64(25), int64(15), object(5)
memory usage: 921.4+ MB

### Drop variables
The dataset still contains variables with missing values. Some of them are important for possible mapping or a fine granulated classification.

- `adr`: The address variable has missing values and is very fuzzy, so encoding might not be successfully.

- `lat` and `lat`: not available for all sites

- `holiday`: classifies the holiday, but will be used only, if `is_holiday` is relevant

- `grav`: granulated classification of the target `fatal`

- `datetime`: encoded in `timestamp`

- `date`: encoded in separate datatime variables

- `timestamp`: same as `date`

- `etatp`: strongly correlate with `actp` and fine granulation

In [8]:
df_bak = df

In [9]:
#df_bak = df

columns_drop = ['adr', 'lat', 'long', 'holiday', 'datetime', 'date', 'timestamp', 'etatp']

df.drop(columns = columns_drop, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509596 entries, 201900000001 to 201800057783
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   num_veh       object
 1   place         float64
 2   catu          int64
 3   grav          int64
 4   sexe          int64
 5   an_nais       int64
 6   trajet        float64
 7   locp          float64
 8   actp          object
 9   an            int64
 10  mois          int64
 11  jour          int64
 12  hrmn          object
 13  lum           int64
 14  agg           int64
 15  int           int64
 16  atm           float64
 17  col           float64
 18  dep           int64
 19  metropolitan  float64
 20  catr          float64
 21  circ          float64
 22  nbv           float64
 23  vosp          float64
 24  prof          float64
 25  plan          float64
 26  surf          float64
 27  infra         float64
 28  situ          float64
 29  senc          float64
 30  catv          int64
 31  occutc        float64
 32  obs           float64
 33  obsm          float64
 34  choc          float64
 35  manv          float64
 36  is_holiday    bool
 37  secu_used     int64
 38  secu_avail    int64
 39  fatal         int64
dtypes: bool(1), float64(21), int64(15), object(3)
memory usage: 768.3+ MB

### Encoding
For the first trial, use the `LabelEncoder` to encode categorial values. Then drop the old categorial values and replace them by the encoded.

In [11]:
# Encoding with LabelEncoder
encode_columns = ['actp', 'num_veh', 'hrmn']
encoded_df = df[encode_columns]
encoded_df = encoded_df.astype('str')
encoded_df = encoded_df.apply(LabelEncoder().fit_transform)

# Merge encoded values
df_encoded = df
df_encoded.drop(encode_columns, inplace=True, axis=1)
df_encoded = pd.concat([encoded_df, df_encoded], axis=1)

### Filtering
It was decided to use only accidents in metropolitan France and Corse.

In preprocessing, the varible `metropolitan` with values `[0,1]` was created.

Now, the data is fitered by this variable and then it is dropped.

In [12]:
df_encoded = df_encoded.loc[df_encoded['metropolitan'] == 1]
df_encoded.drop('metropolitan', inplace=True, axis=1)

In [13]:
df_encoded.isna().sum()

actp          0
num_veh       0
hrmn          0
place         0
catu          0
grav          0
sexe          0
an_nais       0
trajet        0
locp          0
an            0
mois          0
jour          0
lum           0
agg           0
int           0
atm           0
col           0
dep           0
catr          0
circ          0
nbv           0
vosp          0
prof          0
plan          0
surf          0
infra         0
situ          0
senc          0
catv          0
occutc        0
obs           0
obsm          0
choc          0
manv          0
is_holiday    0
secu_used     0
secu_avail    0
fatal         0
dtype: int64

In [14]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2421738 entries, 201900000001 to 201800055766
Data columns (total 39 columns):
 #   Column      Dtype
---  ------      -----
 0   actp        int64
 1   num_veh     int64
 2   hrmn        int64
 3   place       float64
 4   catu        int64
 5   grav        int64
 6   sexe        int64
 7   an_nais     int64
 8   trajet      float64
 9   locp        float64
 10  an          int64
 11  mois        int64
 12  jour        int64
 13  lum         int64
 14  agg         int64
 15  int         int64
 16  atm         float64
 17  col         float64
 18  dep         int64
 19  catr        float64
 20  circ        float64
 21  nbv         float64
 22  vosp        float64
 23  prof        float64
 24  plan        float64
 25  surf        float64
 26  infra       float64
 27  situ        float64
 28  senc        float64
 29  catv        int64
 30  occutc      float64
 31  obs         float64
 32  obsm        float64
 33  choc        float64
 34  manv        float64
 35  is_holiday  bool
 36  secu_used   int64
 37  secu_avail  int64
 38  fatal       int64
dtypes: bool(1), float64(20), int64(18)
memory usage: 722.9 MB

#### Marking categorial data
XGboost enables the use of specific categorial data. Hence, the change of the type to `categorial` is required[3].

In [15]:
cat_columns = ['actp', 'num_veh', 'hrmn', 'place', 'catu', 'sexe', 'trajet',
       'locp', 'lum', 'agg', 'int', 'atm', 'col', 'dep',
       'catr', 'circ', 'nbv', 'vosp', 'prof', 'plan', 'surf', 'infra', 'situ',
       'senc', 'catv', 'occutc', 'obs', 'obsm', 'choc', 'manv',
       'secu_used', 'secu_avail', 'fatal', 'is_holiday']
cat_df = df_encoded[cat_columns]

from sklearn.preprocessing import LabelEncoder
cat_df = cat_df.apply(LabelEncoder().fit_transform)

# cat_df = cat_df.astype('category')

# Merge new type columns
df_encoded.drop(cat_columns, inplace=True, axis=1)
df_encoded = pd.concat([df_encoded, cat_df], axis=1)

In [16]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2421738 entries, 201900000001 to 201800055766
Data columns (total 39 columns):
 #   Column      Dtype
---  ------      -----
 0   grav        int64
 1   an_nais     int64
 2   an          int64
 3   mois        int64
 4   jour        int64
 5   actp        int64
 6   num_veh     int64
 7   hrmn        int64
 8   place       int64
 9   catu        int64
 10  sexe        int64
 11  trajet      int64
 12  locp        int64
 13  lum         int64
 14  agg         int64
 15  int         int64
 16  atm         int64
 17  col         int64
 18  dep         int64
 19  catr        int64
 20  circ        int64
 21  nbv         int64
 22  vosp        int64
 23  prof        int64
 24  plan        int64
 25  surf        int64
 26  infra       int64
 27  situ        int64
 28  senc        int64
 29  catv        int64
 30  occutc      int64
 31  obs         int64
 32  obsm        int64
 33  choc        int64
 34  manv        int64
 35  secu_used   int64
 36  secu_avail  int64
 37  fatal       int64
 38  is_holiday  int64
dtypes: int64(39)
memory usage: 739.1 MB

### Select accidents with participation of bicycles

- create a index column and groupby
- filter the groups containing a value of `2` in `catv`
- drop index

In [17]:
def filter_groups(group):
    return 2 in group['catv'].values

df_encoded['index'] = df_encoded.index

df_encoded = df_encoded.groupby('index').filter(filter_groups)
df_encoded.drop('index', axis = 1, inplace=True)

In [18]:
df_encoded.head()

,grav,an_nais,an,mois,jour,actp,num_veh,hrmn,place,catu,...,catv,occutc,obs,obsm,choc,manv,secu_used,secu_avail,fatal,is_holiday
Num_Acc,,,,,,,,,,,,,,,,,,,,,
201900000037,4,1958,2019,11,29,1,14,820,2,0,...,2,0,1,3,9,20,2,0,0,0
201900000037,1,1969,2019,11,29,1,0,820,2,0,...,33,0,1,3,1,2,2,0,0,0
201900000038,4,1966,2019,11,29,0,14,830,2,0,...,2,0,1,3,2,2,2,0,0,0
201900000038,1,1986,2019,11,29,0,0,830,2,0,...,8,0,1,3,2,16,2,0,0,0
201900000049,4,1973,2019,11,28,0,0,496,2,0,...,2,0,15,1,1,1,2,0,0,0

## Data analysis
### Correlation matrix
To get a first glimpse on the possible contrains in the data, a correlation matrix is plotted.

The data variables are dropped to remove redundany with `timestamp`.

In [19]:
# Drop date columns for the correlation matrix
columns_drop = ['an', 'mois', 'jour', 'index']
df_select = df_encoded.drop(columns_drop, axis = 1)

KeyError: "['index'] not found in axis"

In [ ]:
# Scale the data
scaler = MinMaxScaler()
df_numeric_scaled = pd.DataFrame(scaler.fit_transform(df_select), columns=df_select.columns)

In [ ]:
# Create a correlation matrix
correlation_matrix = df_numeric_scaled.corr()
plt.figure(figsize=(10, 8))
# Generate the heatmap
sns.heatmap(correlation_matrix, annot=False, cmap='coolwarm')

# Add a title
plt.title('Correlation Heatmap')

# Display the plot
plt.show();

The correlation matrix shows some intervariable correlations, but no real importance of variables to predict the target `fatal`.

### Preparation of the training and test datasets
#### Split data
The dataset is split by year slides. The years 2005 to 2019 are selected for the train dataset and the years 2020 and 2021 for the test dataset.

~In addition, the test dataset is split to a train and evaluation dataset with an evaluation set of 20% of the testing data.~

In [ ]:
# split the dataset to train and test data
X_train = df_encoded.loc[df_encoded['an'] < 2020].drop('fatal', axis = 1)
X_test = df_encoded.loc[df_encoded['an'] > 2019].drop('fatal', axis = 1)

y_train = df_encoded['fatal'].loc[df_encoded['an'] < 2020]
y_test = df_encoded['fatal'].loc[df_encoded['an'] > 2019]

#split the train dataset to train and eval data
#X_test, X_eval, y_test, y_eval = train_test_split(X_train, y_train, test_size = 0.2, random_state = 123)

#### Data scaling
Decision trees are not sensitive to different scales and thus scaling is not required.

#### Create xgboost matrices
xgboost requires a specific matrix format. Depends on the training method.

# Create the xgb matrices
train = xgb.DMatrix(data=X_train, label=y_train)
test = xgb.DMatrix(data=X_test, label=y_test)
#eval = xgb.DMatrix(data=X_eval, label=y_eval)

### Modelling the data using a XGBoost Classification Model with Tree-based Parzen Estimators optimisation
The Tree-based Parzen Estimator (TPE) [1] optimisation combines a Bayesian Sequential Model Based Optimisation (SMBO) and a random search on the hyperparemeter grid[2]. While the random search is a static approach, the SMBO optimises the model using prior runs to determine future points of exploration.

The package `hyperopt` [4] is used for optimisation. The hyperparameter optimisation code is written based on ideas in [5].

#### The tuning space
`hyperopt` uses a specific format of parameters expressions [7]. Hints on the parameter ranges are given in [1,5,7].

The `booster` in this first model is `gbtree`. The evaluation metric is `logloss` or `auc`[8].

In a later state, also Dropouts meet Multiple Additive Regression Trees (`dart`)[9] is tested.

In [ ]:
# Create the tuning space
booster = 'gbtree'
eval_metric = 'auc'

tuning_space={
    'eta': hp.uniform('eta', 0, 1),
    'max_depth': hp.quniform('max_depth', 3, 10, 1),
    'gamma': hp.uniform ('gamma', 0, 10),
    'reg_alpha' : hp.uniform('reg_alpha', 0, 100),
    'reg_lambda' : hp.uniform('reg_lambda', 0, 10),
    'colsample_bytree' : hp.uniform('colsample_bytree', 0, 1),
    'colsample_bylevel' : hp.uniform('colsample_bylevel', 0, 1),
    'colsample_bynode' : hp.uniform('colsample_bynode', 0, 1),
    'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
    'n_estimators': hp.quniform('n_estimators', 10, 1000, 1),
    'seed': 123,
    'early_stopping_rounds': 10,
    'objective': 'binary:logistic',
    'subsample': hp.uniform('subsample', 0, 1)
    }

if (eval_metric == 'auc') or (eval_metric == 'logloss'):
    tuning_space.update({'scale_pos_weight': hp.uniform('scale_pos_weight', 0, 2)}) # helps in auc
    tuning_space.update({'max_delta_step': hp.uniform('max_delta_step', 0, 2)}) # helps in auc
    tuning_space.update({'eval_metric': eval_metric})
    tuning_space.update({'booster': booster})

if (booster == 'dart'):
    tuning_space.update({'rate_drop': hp.uniform('rate_drop', 0, 1)})
    tuning_space.update({'one_drop': 0})
    tuning_space.update({'skip_drop': hp.uniform('skip_drop', 0, 1)})

tuning_space

#### The tuning function

In [ ]:
# Function for the classification
def hp_xgbclass(space, X_train = X_train, y_train = y_train, X_test = X_test, y_test = y_test):
    """ Function for Bayesian hyperparameter optimisation of XGboost classification model.
    Accepts a parameter `space` and the training and testing data set.
        :param tuning_space: a catalog containing the parameters used for hyperparameter tuning, ranges given in hp objects
        :param X_train: accepts the train data
        :param X_test: accepts the test data
        :param X_eval: accepts the eval data used for optimisation
        :param y_train: accepts the train target
        :param y_test: accepts the test target
        :param y_eval: accepts the eval data used for optimisation
    """

    if (space['objective'] == 'binary:logistic') and (space['booster'] == 'gbtree'):
        clf=xgb.XGBClassifier(
            eta = space['eta'],
            eval_metric = space['eval_metric'],
            booster = space['booster'],
            n_estimators = np.int64(space['n_estimators']),
            max_depth = np.int64(space['max_depth']),
            gamma = space['gamma'],
            reg_alpha = space['reg_alpha'],
            min_child_weight=np.int64(space['min_child_weight']),
            colsample_bytree=space['colsample_bytree'],
            colsample_bylevel=space['colsample_bylevel'],
            colsample_bynode=space['colsample_bynode'],
            early_stopping_rounds = space['early_stopping_rounds'],
            objective = space['objective'],
            scale_pos_weight = space['scale_pos_weight'],
            max_delta_step = space['max_delta_step'],
            subsample = space['subsample']
        )
            

    if (space['objective'] == 'binary:logistic') and (space['booster'] == 'dart'):
        clf=xgb.XGBClassifier(
            eta = space['eta'],
            eval_metric = space['eval_metric'],
            booster = space['booster'],
            n_estimators = np.int64(space['n_estimators']),
            max_depth = np.int64(space['max_depth']),
            gamma = space['gamma'],
            reg_alpha = space['reg_alpha'],
            min_child_weight=np.int64(space['min_child_weight']),
            colsample_bytree=space['colsample_bytree'],
            colsample_bylevel=space['colsample_bylevel'],
            colsample_bynode=space['colsample_bynode'],
            early_stopping_rounds = space['early_stopping_rounds'],
            objective = space['objective'],
            scale_pos_weight = space['scale_pos_weight'],
            max_delta_step = space['max_delta_step'],
            subsample = space['subsample'],
            rate_drop = space['rate_drop'],
            one_drop = space['one_drop'],
            skip_drop = space['skip_drop']
        )
    

    clf.fit(X_train,
            y_train,
            eval_set = [(X_test, y_test)],
            verbose=False)
        
    pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, pred > 0.5)
    print ("SCORE:", accuracy)
    return {'loss': -accuracy, 'status': STATUS_OK}

In [ ]:
# Running the crossvalidation or load stored parameters

# Rerun or get stored parameters
cv_rerun = True

# define the stored files
# gbtree
if (tuning_space['eval_metric'] == 'auc') and (tuning_space['booster'] == 'gbtree'):
    out_file_trial = './data/XGboost_model/160923_XGboost_gbtree_auc_trial_db'
    out_file_params = './data/XGboost_model/160923_XGboost_gbtree_auc_hyperparameters'
    
elif (tuning_space['eval_metric'] == 'lossless') and (tuning_space['booster'] == 'gbtree'):
    out_file_trial = './data/XGboost_model/160923_XGboost_gbtree_lossless_trial_db'
    out_file_params = './data/XGboost_model/160923_XGboost_gbtree_lossles_hyperparameters'

# dart
elif (tuning_space['eval_metric'] == 'auc') and (tuning_space['booster'] == 'dart'):
    out_file_trial = './data/XGboost_model/160923_XGboost_dart_auc_trial_db'
    out_file_params = './data/XGboost_model/160923_XGboost_dart_auc_hyperparameters'

elif (tuning_space['eval_metric'] == 'lossless') and (tuning_space['booster'] == 'dart'):
    out_file_trial = './data/XGboost_model/160923_XGboost_dart_lossless_trial_db'
    out_file_params = './data/XGboost_model/160923_XGboost_dart_lossles_hyperparameters'


# rerun the crossvalidation
if (cv_rerun == True):
    trials = Trials()
    best_hyperparams = fmin(fn = hp_xgbclass,
                       space = tuning_space,
                       algo = tpe.suggest,
                       max_evals = 100,
                       trials = trials)
    # save the best parameters and the trials database
    with open(out_file_trial, 'wb') as f:
        pickle.dump(trials, f)

    with open(out_file_params, 'wb') as f:
        pickle.dump(best_hyperparams, f)

# get the stored hyperparameters
else:
    with open('./data/XGboost_model/160923_XGboost_gbtree_auc_hyperparameters', 'rb') as f:
        best_hyperparams = pickle.load(f)

In [ ]:
print("The best hyperparameters are : ","\n")
print(best_hyperparams)

In [ ]:
if (tuning_space['booster'] == "gbtree"):
     xgb_1 = xgb.XGBClassifier(
        booster = tuning_space['booster'],
        eta = best_hyperparams['eta'],
        gamma = best_hyperparams['gamma'],
        max_depth = np.int64(best_hyperparams['max_depth']),
        min_child_weight = np.int64(best_hyperparams['min_child_weight']),
        reg_alpha = best_hyperparams['reg_alpha'],
        reg_lambda = best_hyperparams['reg_lambda'],
        eval_metric = tuning_space['eval_metric'],
        objective = tuning_space['objective'],
        seed = tuning_space['seed'],
        early_stopping_rounds = tuning_space['early_stopping_rounds'],
        n_estimators = np.int64(best_hyperparams['n_estimators']),
        subsample = best_hyperparams['subsample'],
        scale_pos_weight = best_hyperparams['scale_pos_weight'],
        max_delta_step = best_hyperparams['max_delta_step'],
        colsample_bylevel = best_hyperparams['colsample_bylevel'],
        colsample_bynode = best_hyperparams['colsample_bynode'],
        colsample_bytree = best_hyperparams['colsample_bytree']
    )


if (tuning_space['booster'] == "dart"):
     xgb_1 = xgb.XGBClassifier(
        booster = tuning_space['booster'],
        eta = best_hyperparams['eta'],
        gamma = best_hyperparams['gamma'],
        max_depth = np.int64(best_hyperparams['max_depth']),
        min_child_weight = np.int64(best_hyperparams['min_child_weight']),
        reg_alpha = best_hyperparams['reg_alpha'],
        reg_lambda = best_hyperparams['reg_lambda'],
        eval_metric = tuning_space['eval_metric'],
        objective = tuning_space['objective'],
        seed = tuning_space['seed'],
        early_stopping_rounds = tuning_space['early_stopping_rounds'],
        n_estimators = np.int64(best_hyperparams['n_estimators']),
        subsample = best_hyperparams['subsample'],
        scale_pos_weight = best_hyperparams['scale_pos_weight'],
        max_delta_step = best_hyperparams['max_delta_step'],
        colsample_bylevel = best_hyperparams['colsample_bylevel'],
        colsample_bynode = best_hyperparams['colsample_bynode'],
        colsample_bytree = best_hyperparams['colsample_bytree'],
        rate_drop = best_hyperparams['rate_drop'],
        one_drop = space['one_drop'],
        skip_drop = best_hyperparams['skip_drop']
    )
  
xgb_1 = xgb_1.fit(X_train,
          y_train,
          eval_set = [(X_test, y_test)], 
          verbose = False)

In [ ]:
importance_types = ['total_gain', 'gain', 'weight', 'cover', 'total_cover']

for f in importance_types:
    xgb.plot_importance(xgb_1, max_num_features=50, importance_type=f, title=f)
    plt.figure(figsize = (16, 12))
    plt.show();

In [ ]:
y_pred = xgb_1.predict(X_test)
y_pred = [round(value) for value in y_pred]

print(classification_report(y_pred, y_test))

print(pd.crosstab(y_pred, y_test))

In [ ]:
cm = confusion_matrix(y_test, y_pred)

plt.figure(figsize = (5, 4))
sns.set(font_scale=1)
sns.heatmap(cm, annot=True);

## References
[1] [Bergstra, J., Yamins, D., Cox, D. D. (2013) Making a Science of Model Search: Hyperparameter Optimization in Hundreds of Dimensions for Vision Architectures. TProc. of the 30th International Conference on Machine Learning (ICML 2013), June 2013, pp. I-115 to I-23.](https://proceedings.neurips.cc/paper_files/paper/2011/file/86e8f7ab32cfd12577bc2619bc635690-Paper.pdf)

[2] https://towardsdatascience.com/hyperopt-demystified-3e14006eb6fa

[3] https://xgboost.readthedocs.io/en/stable/tutorials/categorical.html

[4] https://github.com/hyperopt/hyperopt

[5] https://www.kaggle.com/code/prashant111/a-guide-on-xgboost-hyperparameters-tuning

[6] https://github.com/hyperopt/hyperopt/wiki/FMin

[7] https://xgboost.readthedocs.io/en/stable/tutorials/param_tuning.html

[8] https://www.datamachines.io/blog/auc-vs-log-loss

[9] [Rashmi, K.V., Gilad-Bachrach (2015) DART: Dropouts meet Multiple Additive Regression Trees. arXiv:1505.01866v](https://doi.org/10.48550/arXiv.1505.01866)